---
import { hero } from "../content/content";
import Button from "./starwind/button/Button.astro";
---
<section id="hero" class="hero-section relative overflow-hidden py-50 sm:py-16 md:py-20 lg:py-50 ">
<div class="rounded-xl mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10" >
	<div class="content grid gap-12 lg:gap-16 lg:grid-cols-2 items-center">
		<!-- Content -->
		<div class="flex flex-col gap-6 sm:gap-8 " >
			<!-- Headline -->
			<h1 class="text-4xl sm:text-5xl md:text-6xl font-bold leading-tight">
				<span class= text-stone-200>Stop Guessing.</span><span class ="text-amber-600">{hero.headline}</span>
			</h1>
			<!-- Subheadline -->
			<p class="text-xl sm:text-xl text-muted-foreground leading-relaxed max-w-xl text-stone-200">
				{hero.subheadline}
			</p>

			<!-- CTA Buttons -->
			<div class="mt-10 flex items-center justify-left gap-x-20">
			<!-- Primary CTA Button -->
			<a href={hero.primaryCta.href } class="rounded-xl bg-amber-600 px-5 py-3 text-m font-semibold text-white shadow-lg shadow-slate-600/30 hover:bg-amber-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 transition-all duration-200 transform hover:-translate-y-0.5">
			{hero.primaryCta.label}
			</a>
			
			<!-- Secondary CTA Button -->
			<a href={hero.secondaryCta.href} class="group text-m rounded-xl bg-slate-600/50 px-5 py-3 font-semibold text-white flex items-center gap-x-1.5 hover:text-slate-300 transition-colors duration-200">
			{hero.secondaryCta.label}
			<svg class="h-4 w-4 text-slate-400 group-hover:translate-x-1 transition-transform duration-200" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
			</svg>
			</a>
    	</div>

		</div>
	</div>
</div>
</section>
	

<style>
.hero-section {
	position: relative;
 	 background-image:
    	url("/src/assets/HeroBack.jpg");
	background-size: cover;
  	background-position: left;
  	color: rgb(37, 37, 37);
}	
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.content {
  /* ... */
  position: relative;
  z-index: 1;
}
</style>